:root {
  --desktop: 64rem;
  /* TYPOGRAPHY */
  --serif: Georgia, "Times New Roman", Times, serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --code: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --body-text-margin: 0.75rem;

  /* THEME COLORS */
  --red: #dc3545;
  --orange: #f4a261;
  --yellow: #ffc107;
  --green: #198754;
  --cyan: #0dcaf0;
  --blue: #3a86ff;
  --purple-lite: #d8c4fa;
  --purple: #8b80f9;
  --purple-dark: #6610f2;
  --black: #070110;
  --white: #fdfffc;
  --gray-lite: #f8f9fa;
  --gray: #6c757d;
  --gray-dark: #212529;

  /* CONTEXT COLORS */
  --bg-lite: var(--white);
  --bg-dark: var(--black);
  --text-lite: var(--white);
  --text-dark: var(--gray-dark);
  --text-opac: rgba(255, 255, 255, 0.8);
  --link-lite: var(--purple-lite);
  --link: var(--purple);
  --link-dark: var(--purple-dark);
  --entity: var(--purple-dark);
  --param: var(--orange);
  --action: var(--blue);
  --info: var(--cyan);
  --success: var(--green);
  --warning: var(--yellow);
  --danger: var(--red);
}

body {
  font-family: var(--sans-serif);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  body {
    display: block;
  }
  .sidebar {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35vw;
  }
  .main {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.25rem;
    width: 65vw;
  }
}

.sidebar {
  font-size: 0.75em;
  padding: 1rem;
  background-color: var(--bg-dark);
  color: var(--text-opac);
}

.sidebar h2,
.sidebar h3 {
  margin: 1.5rem 0 0.5rem;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 0 0 0.5rem;
}

.sidebar a {
  color: var(--link);
  text-decoration: none;
}
.sidebar a:visited {
  color: var(--link-lite);
}
.sidebar a:hover {
  color: var(--link-lite);
  transition: 200ms;
}

.sidebar li {
  color: var(--link-lite);
}

.sidebar li div ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.sidebar li div ul li {
  color: var(--action);
}

.main {
  color: var(--text-dark);
}

.box {
  margin-bottom: 1.25rem;
  padding: 0 1.25rem 0.625rem;
  background-color: var(--bg-lite);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.25);
}

.box > h2,
.box > a > h2,
.box > h3,
.box > a > h3,
.box > h4,
.box > a > h4 {
  margin: 0 -1.25rem 1rem;
  padding: 0.75rem;
  background-color: var(--black);
  color: var(--text-opac);
}

.box > h3,
.box > a > h3 {
  background-color: var(--entity);
  color: var(--text-lite);
}


.box > h4,
.box > a > h4 {
  background-color: var(--param);
  color: var(--text-opac);
}



li > .title {
  font-weight: bold;
}

.parameters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.parameters li {
  margin-bottom: var(--body-text-margin);
}

.type-info {
  font-size: 0.875rem;
  padding-left: 0.5rem;
}

/* .property .title {
  color: var(--purple);
} */

/* .property .contents {
  padding-left: 0.5rem;
} */

/* .property .contents .type-info div:not(:empty) {
  position: relative;
  padding: 0.5rem 0 0.5rem 2rem;
  background-color: #eee;
} */

/* .property .contents .type-info div:not(:empty):before {
  position: absolute;
  left: 0;
  content: "├─";
  opacity: 0.25;
} */

/* .property .contents .type-info .attributes {
  margin-left: -1rem;
  padding-left: 0 !important;
} */

/* .property .contents .type-info .attributes:before {
  display: none;
} */

/* .stop-nesting-boxes .box,
.stop-nesting-boxes .box-contents {
  padding: 0;
  border: none;
  box-shadow: none;
} */

.attributes span {
  display: inline-block;
  padding: 0.35em 0.75em;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: var(--white);
}

.attributes .tag {
  background-color: var(--blue);
}

.attributes .preview {
  background-color: var(--info);
  color: var(--white);
}

.attributes .manifest-entity {
  background-color: var(--entity);
  color: var(--text-opac);
}

.attributes .depends-on {
  background-color: var(--purple-lite);
  color: var(--purple-dark);
}

.attributes .mapped {
  background-color: var(--purple);
}

.attributes .enum {
  background-color: var(--orange);
}

.attributes .required {
  background-color: var(--danger);
  text-transform: uppercase;
}

.attributes .in {
  background-color: var(--green);
  color: var(--text-opac);
}

.attributes .deprecated {
  background-color: var(--warning);
  color: var(--white);
}

.attributes .allow-empty-value {
  background-color: var(--gray);
}

.attributes .nullable {
  background-color: var(--gray-dark);
}