:root {
  --border-radius: 0.25rem;
  --base-margin: 0.5rem;
  --indent: var(--base-margin) 0 0 1rem;
  --tag-padding: 0.35em 0.75em;
  /* TYPOGRAPHY */
  --serif: Georgia, "Times New Roman", Times, serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --code: monospace;
  --text-sm: 0.875rem;
  --text: 1rem;
  --text-lg: 1.125rem;
  --body-text-margin: var(--base-margin);

  /* THEME COLORS */
  --red: #dc3545;
  --orange: #f4a261;
  --yellow: #ffc107;
  --green: #198754;
  --cyan: #0dcaf0;
  --blue: #3a86ff;
  --purple-lite: #d8c4fa;
  --purple: #8b80f9;
  --purple-dark: #6610f2;
  --black: #070110;
  --white: #fdfffc;
  --gray-lite: #f8f9fa;
  --gray: #6c757d;
  --gray-dark: #212529;

  /* CONTEXT COLORS */
  --bg-lite: var(--white);
  --bg-dark: var(--black);
  --text-lite: var(--white);
  --text-dark: var(--gray-dark);
  --text-opac: rgba(255, 255, 255, 0.8);
  --link-lite: var(--purple-lite);
  --link: var(--purple);
  --link-dark: var(--purple-dark);
  --entity: var(--purple-dark);
  --param: var(--orange);
  --action: var(--blue);
  --info: var(--cyan);
  --success: var(--green);
  --warning: var(--yellow);
  --danger: var(--red);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--sans-serif);
  line-height: 1.3;
}

@media screen and (min-width: 768px) {

  .sidebar {
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35vw;
  }
  .main {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1.25rem;
    width: 65vw;
  }
}

/*-----------------------
SIDEBAR MENU
------------------------*/

.sidebar {
  font-size: 0.75em;
  padding: 1rem;
  background-color: var(--bg-dark);
  color: var(--text-opac);
}

.sidebar h2,
.sidebar h3 {
  margin: 1.5rem 0 0.5rem;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 0 0 var(--base-margin);
  color: var(--white);
}

.sidebar a {
  color: var(--link);
  text-decoration: none;
}
.sidebar a:hover {
  color: var(--link-lite);
  transition: 200ms;
}

.sidebar li div ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.sidebar li div ul li {
  color: var(--action);
}

/*-----------------------
PAGE CONTENT
------------------------*/

.main {
  color: var(--text-dark);
}

.main a[href] {
  display: inline-block;
  text-decoration: none;
  font-family: monospace;
  font-size: 110%;
  color: var(--text-dark);
  line-height: 1;
  vertical-align: middle;
  padding-bottom: 0.125rem;
  border-bottom: 0.125rem solid var(--link-dark);
}
.main a[href]:hover {
  color: var(--link-dark);
}

.main ul {
  list-style: none;
  margin: 0;
  padding: var(--base-margin) 0;
}

.main li {
  margin-bottom: var(--body-text-margin);
}

.box {
  margin-bottom: 1.5rem;
  padding: 0 1.25rem 0.625rem;
  background-color: var(--bg-lite);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
}

.box > h2,
.box > a > h2,
.box > h3,
.box > a > h3,
.box > h4,
.box > a > h4
{
  margin: 0 -1.25rem 1rem;
  padding: 0.75rem;
  background-color: var(--black);
  color: var(--text-opac);
}

.box > h3,
.box > a > h3 {
  background-color: var(--entity);
  color: var(--text-lite);
}

.box > h4,
.box > a > h4 {
  background-color: var(--param);
  color: var(--text-opac);
}

.box > h5 {
  background-color: var(--gray-dark);
  color: var(--text-opac);
  padding: 0.75rem;
  font-variant: small-caps;
  margin: 0 0 var(--base-margin) 0;
}
.scopes {
  padding: 0 var(--base-margin);
  border-left: 2px solid var(--gray-dark);
}
.scopes > h4 {
  background-color: var(--gray-dark);
  color: var(--text-opac);
  padding: 0.5rem;
  margin: 1rem -0.5rem 0;
}

.required-scopes > h4,
.required-scopes > a > h4 {
  background-color: var(--red);
  color: var(--text-opac);
}

.request-body > h4,
.request-body > a > h4 {
  background-color: var(--blue);
  color: var(--text-opac);
}

.response.box > h4,
.response.box > a > h4 {
  background-color: var(--purple-lite);
  color: var(--purple-dark);
}

.parameters.box .name,
.parameters.box .box-contents > ul > li > strong {
  display: inline-block;
  padding: var(--tag-padding);
  border-radius: var(--border-radius);
  font-family: monospace;
  background-color: var(--blue);
  color: var(--text-opac);

}

.stop-nesting-boxes .box,
.stop-nesting-boxes .box-contents {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

.type-info > .properties {
  margin-top: var(--base-margin);
  border-top: 2px solid var(--gray-dark);
  border-left: 2px solid var(--gray-dark);
}

.property .box {
  margin: var(--indent);
  padding-bottom: var(--base-margin);
}

.property .contents {
  font-size: var(--text-sm);
}

.title {
  color: var(--blue);
  font-weight: bold;
}
.title strong {
  font-weight: inherit;
}
.description {
  font-size: var(--text-sm);
  margin: var(--indent);
  padding-bottom: var(--base-margin);
}
.description br {
  display: none;
}

.content-type {
  display: inline-block;
  font-family: monospace;
  background-color: var(--gray-lite);
  color: var(--text-dark);
  padding: var(--tag-padding);
  border-radius: var(--border-radius);
  font-size: var(--text-sm);
  margin: var(--indent);
}
.type-info {
  color: var(--gray-dark);
  font-size: var(--text-sm);
  margin: var(--indent);
}
.type {
  font-size: var(--text-sm);
  margin: var(--indent);
}

.type-info .attributes:not(:empty) {
  margin-bottom: var(--base-margin);
}

.type-info .type {
  margin: 0;
}

.enum-values.box {
  margin: var(--base-margin) 0;
}
.enum-values.box ul {
  padding: var(--indent);
}

/*-----------------------
UTILITY CLASSES
------------------------*/

.attributes span {
  display: inline-block;
  padding: var(--tag-padding);
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--border-radius);
  color: var(--white);
}

.attributes .tag {
  background-color: var(--blue);
}

.attributes .preview {
  background-color: var(--info);
  color: var(--white);
}

.attributes .manifest-entity {
  background-color: var(--entity);
  color: var(--text-opac);
}

.attributes .depends-on {
  background-color: var(--purple-lite);
  color: var(--purple-dark);
}

.attributes .mapped {
  background-color: var(--purple);
}

.attributes .enum {
  background-color: var(--orange);
}

.attributes .required {
  background-color: var(--danger);
  text-transform: uppercase;
}

.attributes .in {
  background-color: var(--green);
  color: var(--text-opac);
}

.attributes .deprecated {
  background-color: var(--warning);
  color: var(--white);
}

.attributes .allow-empty-value {
  background-color: var(--gray);
}

.attributes .nullable {
  background-color: var(--gray-dark);
}